/* Declaring custom properties */
* {
  box-sizing: border-box;

  /* border: thin solid green ; */
  text-align: right;
}

#header ul li {
  display: inline-block;
  list-style: none;
  background-color: #black;

}
#menu {
  background-color: black;
  color: white;

}

#menu > ul {
  margin: 0;
  padding: 0;
  list-style-type: none;

}

#menu > ul > li {
  display: inline-block;
  padding: 0.8em;
  text-align: left;

}

.telefono {
  vertical-align: middle;
  max-height: 25px;
  max-width: 160px;
  height: 20px;
  width: 20px;
}
